/** Add css rules here for your application. */
body {
    padding: 10px;
    background-color: lightslategray !important;
}

.loginPanel{
	width: calc(100% - 40%);
    background-color: darkgrey;
    border-radius: 5px;
    justify-content: center;
    margin: 2% 20%;
    padding: 5%;
}
.paymentPanel{
    background-color: darkgrey;
    border-radius: 5px;
    margin: 0 15%;
    padding: 10%;
    width: calc(50vw - 10%);
}
.commentPanel{
    background-color: darkgrey;
    border-radius: 5px;
    padding: 5%;
    width: calc(45vw - 3%);
}
.createArticlePanel{
	width: 600px;
    background-color: darkgrey;
    border-radius: 5px;
    justify-content: center;
    margin: 0 15%;
    padding: 5%;
}
.textBoxLogin{
	width: calc(100% - 30%);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    padding-left: 15px;
    border: 1px black solid;
    margin: 3% 15%;
}
.gwt-TextBox, .gwt-PasswordTextBox, .gwt-TextArea, .gwt-DateBox, .integerBox, .gwt-text{
	margin: 5px;
    border-radius: 5px;
    background-color: lightgray;
    border: black 1px solid !important;
    font-family: system-ui;
}
.gwt-TextArea{
	margin: 5px;
    border-radius: 5px;
    background-color: lightgray;
    border: black 1px solid !important;
    font-family: system-ui;
    min-width: 20vw;
    min-height: 10vh;
}
.gwt-ListBox{
	margin: 5px;
    border-radius: 5px;
    padding: 10px;
    border: black 1px solid;
    background-color: lightgrey;
}
.buttonFloatRight{
	float:right;
	width: max-content;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px !important;
    border-radius: 10px !important;
    background: #575675 !important;
    margin: 4% 0;
}
.gwt-Label{
	margin: 3px;
    font-family: system-ui;
    font-size: large;
}
.labelProfile{
	margin: 3px;
    font-family: system-ui;
    font-size: large;
    background-color: lightgray;
    padding: 10px 30px;
    border-radius: 7px;
}
.labelTextArticle{
	margin: 3px;
    font-family: system-ui;
    font-weight:400;
    background-color: lightgray;
    padding: 10px 30px;
    border-radius: 7px;
}
.labelTextComment{
	margin: 3px;
    font-family: system-ui;
    font-weight:400;
    background-color: cornsilk;
    padding: 10px 30px;
    border-radius: 7px;
}
.labelLike{
	margin: 3px;
    font-family: system-ui;
    font-weight: 400;
    background-color: lightblue;
    padding: 10px 30px;
    border-radius: 7px;
    float: right;
}
.watchListHeader {
    background-color: #575675;
    color: white;
    font-family: system-ui;
    font-size: large;
}

.watchList {
    border: 1px solid silver;
    padding: 2px;
    margin-bottom: 6px;
    font-family: system-ui;
}

.watchListNumericColumn {
    text-align: center;
    width: 9em;
    font-family: system-ui;
}

.watchListRemoveColumn {
  text-align: center;
}

.addPanel {
  margin: 10px 0px 15px 0px;
}

.gwt-Button-remove {
  width: 50px;
  margin: 5px;
}

.gwt-Button {
	width: max-content;
    margin: 2% 25% !important;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px !important;
    border-radius: 10px !important;
    background: #575675 !important;
}
.noMarginButton {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px !important;
    border-radius: 10px !important;
    background: #575675 !important;
}
.buttonLogin {
	width:calc(100% - 50% );
    margin: 2% 25% !important;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px !important;
    border-radius: 10px !important;
    background: #575675 !important;
}
.openButton{
    margin: 12px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px !important;
    border-radius: 10px !important;
    background: #575675 !important;
}

.noChange {
  color: black;
}

.positiveChange {
  color: green;
}

.negativeChange {
  color: red;
}

.errorMessage {
  color: red;
}